<div class="dashboard-container">
    <aside class="sidebar">
      <img src="assets/logo-coingenio .png" alt="Logo" class="logo">
      <ul class="menu">
        <li class="menu-item" (click)="goTo('proyectos')">
          <i class="icon fas fa-project-diagram"></i>
          <span>Proyectos</span>
        </li>
        <li class="menu-item" (click)="goTo('cronograma')" >
          <i class="icon fas fa-calendar-alt"></i>
          <span>Cronogramas</span>
        </li>
        <li class="menu-item" (click)="goTo('Reportes')">
          <i class="icon fas fa-chart-line"></i>
          <span>Reportes</span>
        </li>
        <li class="menu-item" (click)="goTo('materiales')">
          <i class="icon fas fa-boxes"></i>
          <span>Materiales</span>
        </li>
        <li class="menu-item">
          <i class="icon fas fa-cogs"></i>
          <span>Configuración</span>
        </li>
      </ul>
    </aside>
  